.main {
  margin: 0;
  padding: 0;
  background: var(--page-bg);
  height: 100dvh;
  max-width: 500px;
  position: relative;
}

.detail_top {
  height: 100dvh;
  padding-bottom: 15vh;
  overflow-y: scroll;
  scrollbar-width: none;
  padding-bottom: "10px";
}

.bottom_container {
  margin: 0;
  padding: 0 0 20px 0;
  background: #0001;
  backdrop-filter: blur(2px);
  height: 100vh;
  max-width: 500px;
  position: relative;
}

.claim_button {
  background: var(--primary-color);
  color: white;
  font-weight: 600;
}
