.main_content {
  margin: 0;
  padding: 0;
  background: var(--page-bg);
  height: 100dvh;
}

.headers {
  position: sticky;
  top: 0;
  height: 10dvh;
}

.offers {
  height: 90dvh;
  overflow-y: scroll;
  scrollbar-width: none;
}
